* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;

}

.chercher:nth-child(1) {
    padding-top: 80px;

}


/*-------------------- navbar --------------------*/
nav {
    height: 60px;
    padding: 0 4.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: white;
    border-bottom: 1px solid #ff3d00;
    box-shadow: 0px 0px 15px #000000;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;



}

.mobile-menu {
    flex: 1;
}

.toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid gray;
    cursor: pointer;
    border-width: 1.5px;
    width: 35px;
    height: 35px;

}

.toggler:hover {
    background-color: #fc4331;
    transition: 0.6s;
    border-color: #fc4331;
}

.logo {
    display: flex;
    flex: 1;
    justify-content: center;
    height: 40px;
    width: 40px;

}
.logo a img{
    height: 40px;
}



.account {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.account a{
    color: #fc4331;
}

.body {
    position: relative;
}

/*------------------------------- slideshow  ---------------------------*/
#slideshow {
    position: relative;
    height: calc(100vh - 61px);
    min-height: 100vh;
    /* #d46604 */
}

.overlay {
    /* background: linear-gradient(to right, #e85f09c8 20%, transparent 65%); */
    height: calc(100vh - 61px);
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#slide-img {
    width: 100%;
    height: calc(100vh - 61px);
    min-height: 100vh;
    object-fit: cover;

}

.bottom-btn {
    background: none;
    border: none;
    position: absolute;
    left: 50%;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    font-size: 44px;
    color: white;
    border-radius: 20px;
    bottom: -10px;
    transform: translateX(-50%);
}



.service {
    position: absolute;
    bottom: 100px;
    right: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.service a {
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.postez-btn,
.chercher-btn {
    border-radius: 10px;
    padding: 20px 30px;

}

.postez-btn {
    background-color: #e14f2a;
    color: white;
    border: 1px solid #fc4331;
    transition: 0.7s;

}

.postez-btn:hover {
    transition: 0.7s;
    transform: scale(1.1);
}


.chercher-btn {
    border: 1.5px solid #fc4331;
    color: #fc4331;
    transition: 0.7s;

}

.chercher-btn:hover {
    border: 1.5px solid #ffffff;
    color: #fc4331;
    background-color: #fff;
    transform: scale(1.1);
    transition: 0.7s;

}

#text {
    color: #ffffff;
    font-size: 75px;
    width: 450px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 120px;
}




.mobile-label-toggle {
    position: fixed;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    z-index: 15;
    color: white;
}

.toggle-menu {
    position: fixed;
    display: flex;
    background-color: black;
    width: 300px;
    height: 100vh;
    top: 0;
    left: -300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    z-index: 10;
    transition: 1s;

}

.toggle-menu a {
    color: white;
    text-decoration: none;

    transition: 0.7s;
}

.toggle-menu a:hover {
    color: #ff230e;

    transform: scale(1.1);
    transition: 0.7s;
    text-decoration: solid 1px;



}



#toggle {
    display: none;
}

#toggle:checked~.toggle-menu {

    left: 0;
}





/*-------------------------------  categorie ---------------------------------------------*/









/*-------------------------------    inscription   ---------------------------------------------*/
.signup-bg {
    background: linear-gradient(to right, #ff5100e9, rgba(238, 122, 50, 0.826)) !important;
    align-items: center;

}








/*-------------------------------   posez-annonce   ---------------------------------------------*/
.annonces{
    display: flex;
    padding: 40px;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;



}
article.annonce{
    display: flex;
    flex-direction: column;
    flex: 1 1 350px;
    max-width: 400px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    overflow: hidden;
    background-color: beige;
}
.image-annonce{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.image-info{
    /*reference wishlist nouveau */
    position: relative;
}


.image-info h3{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff4d00;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.image-info i{
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: #ff4d00;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
.date-prix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}

.date-prix h4{
    font-size: 18px;
}
.prix{
    display: flex;
    flex-direction: column;
}

.prix span{
    font-size: 14px;
}

.info-voiture{
    padding: 10px 20px;
}
.type-carb{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.carb, .type{
    display: flex;
    align-items: center;
    gap: 10px;
}
.type-carb p{
    line-height: 40px;
    margin: 0!important;
}
.type-carb img{
    width: 40px;

}

.decouvrir-bouton{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.decouvrir-bouton a{
    /* color: white; */
    color: #ff4d00;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}





/*-------------------------------    footer   ---------------------------------------------*/

footer {

    color: #fff;
    padding: 20px 0;
    /* fallback for old browsers */
    /* background: #0044ff; */

    /* Chrome 10-25, Safari 5.1-6 */

     background: linear-gradient(to bottom, #000000 60%, #ff4d00 160%)


    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     /* background: linear-gradient(180deg, #000000 15%, #ff4800 80%) */

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    padding: 0 20px;
}

.logo-footer {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo-footer img {
    height: 40px;
    margin-right: 10px;
}

.logo-footer h2 {
    font-size: 24px;
    margin: 0;
}

.social-icons a {
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;

}



.footer-info {
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 0 20px;
    text-align: center;

}

.footer-info a {
    color: #fff;
    text-decoration: none;

}

.footer-info a:hover {
    color: #000000;
}



.bottom-footer {
padding-top: 100px;
    display: flex;
    justify-content: space-around;
    height: 300px;
}

.bottom-footer .about {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
    align-items: start;
}


.bottom-footer h3{
    padding-bottom: 20px;
}

.bottom-footer .social-icons {
    padding: 30px;
        flex: 1;
    display: flex;
    align-items: start;
    flex-direction: column;

}

.bottom-footer .social-icons a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 10px;
    font-size: 16px;
    padding: 5px 0;

}
/* .bottom-footer .social-icons:hover {


} */









/*---------------------- form poster  ---------------------------- */

.form-postez{
    display: flex;
}
/*----------------------------- responsive design smartphones ----------------------------------------*/
@media screen and (max-width:768px) {
    /* body {} */

    body #text {
        font-size: 52px;
        width: 100%;
        padding: 40px;
        top: 30%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
    }

    .service {
        right: 50%;
        transform: translateX(50%);
    }

    .toggle-menu {
        width: 100%;
        height: 100vh;
        top: -100%;

        left: 0;

    }

    #toggle:checked~.toggle-menu {
        top: 0;
        left: 0;
    }
}
